body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
  background-color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.day {
  background-color: #fff;
}
