.day-night-switch {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 60%;
}

.day-night-switch i {
  display: none;
  cursor: pointer;
}

.day-night-switch i.active {
  display: block;
  font-size: 3.5rem;
  color: #fff;
}
